{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Composer",
            "Generated",
            "AbstractGeneratedProxy"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\NonExistentInterface::interface::22"
            ]
        }
    }
}
