{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Composer",
            "Generated",
            "AbstractGeneratedProxy"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy::thread",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::setUpHandlers"
            ]
        },
        "Coalesce": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy\\Instance::__construct",
                "ReactParallel\\ObjectProxy\\Proxy\\Registry::__construct"
            ]
        },
        "Continue_": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::followChain",
                "ReactParallel\\ObjectProxy\\Proxy\\Registry::__construct"
            ]
        },
        "CloneRemoval": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Configuration::withMetrics"
            ]
        },
        "Identical": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleCall",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleNotify"
            ]
        },
        "Foreach_": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy\\Registry::__destruct"
            ]
        },
        "InstanceOf_": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy::create",
                "ReactParallel\\ObjectProxy\\Proxy::thread",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::create",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::setUpHandlers",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleNotify",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleCall",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::countDestruct",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::countHandledChain"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleExistence",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::countDestruct",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleDestruct",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleNotify",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleCall",
                "ReactParallel\\ObjectProxy\\Proxy\\Registry::__construct"
            ]
        },
        "LogicalOr": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleExistence",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::countDestruct",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleDestruct",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleNotify",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleCall",
                "ReactParallel\\ObjectProxy\\Proxy\\Registry::__construct"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy::__destruct",
                "ReactParallel\\ObjectProxy\\Proxy::close",
                "ReactParallel\\ObjectProxy\\Proxy::create",
                "ReactParallel\\ObjectProxy\\Proxy::thread",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::__destruct",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::create",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::countDestruct",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleExistence",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleCall",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleNotify",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleDestruct",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::setUpHandlers"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::handleDestruct"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy::__destruct",
                "ReactParallel\\ObjectProxy\\NonExistentInterface::interface",
                "ReactParallel\\ObjectProxy\\Message\\Link::objectHash",
                "ReactParallel\\ObjectProxy\\Message\\Parcel::notify",
                "ReactParallel\\ObjectProxy\\Proxy\\Instance::interface",
                "ReactParallel\\ObjectProxy\\Proxy\\Instance::dereference",
                "ReactParallel\\ObjectProxy\\Proxy\\Instance::isLocked",
                "ReactParallel\\ObjectProxy\\Proxy\\Registry::dropByHash"
            ]
        },
        "Ternary": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy::thread"
            ]
        },
        "Throw_": {
            "ignore": [
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::create",
                "ReactParallel\\ObjectProxy\\Proxy\\Handler::share"
            ]
        }
    }
}
